* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #1f2937;
}

.logo {
  cursor: pointer;
  font-size: 24px;
  color: #F9FAF8; 
}

.links {
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0px 20px;
}

.links a {
  text-decoration: none;
  color: #F9FAF8;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}

.main-header {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
  font-family: Arial, Helvetica, sans-serif;
}

.about-text {
  font-size: 18px;
  color: #E5E7EB;
  font-family: Arial, Helvetica, sans-serif;
}


.left-website-about,
.right-placeholder-image {
  width: 400px;
  height: 300px;
  padding: 15px;
}

.top-image {
  width: 450px;
  height: 200px;
}

.top-btn {
  margin-top: 10px;
  background-color: #3882F6;
  color:#F9FAF8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

.info-header {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
}

.info-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:100px;
}

.info {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.info-image img {
  border: 3px solid #3882F6;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.subtext {
  font-size: 18px;
  color: #1f2937;
}

.subtext {
  font-family: Arial,Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #1F2937;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  padding: 0 40px 0 70px;
}

.quote-text{
  padding: 20px 250px 20px 250px;
  margin: 20px 0 20px 0;
  font-size: 36px;
  font-family: Arial, Helvetica,sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.quote-author{
  padding: 0px 250px 20px 250px;
  margin: 0px 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: end;
}

.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.sign-up-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  background-color: #3882F6;
  color:#F9FAF8;
  width: 1000px;
  height: 150px;
  border-radius: 15px;
}



.call-header {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #E5E7EB;
}

.call-text {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #E5E7EB;
}

.bottom-btn{
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  color: #F9FAF8;
  border-radius: 5px;
  font-size: 15px;
  width: 100px;
  height: 30px;
}

.footer {
  background-color: #1f2937;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}